In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train2.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
label=['Survived']

In [11]:
feature=['Pclass']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X=df[feature]

In [15]:
Y=df[label]

In [16]:
X_train,X_test,Y_train,Y_Test=train_test_split(X,Y,test_size=.20,random_state=10)

In [17]:
from sklearn.naive_bayes import GaussianNB

In [19]:
nb=GaussianNB()

In [23]:
model=nb.fit(X_train,Y_train)

c:\users\user\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
pred=model.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(Y_test,pred)

NameError: name 'Y_test' is not defined